.content-contact
{
    background-color: rgb(176, 206, 235);
    padding: 120px;
}

.form-box input,textarea{
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 30vw;
    padding: 5px;
    margin: 10px 20vw;
    
}
.contact-form h1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 12px;
    border-radius: 30px;
    border: blanchedalmond;
    width: 150px;
    margin: 5px 30vw;
    margin-bottom: 12px;
}